*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.holder{
    margin: 0 auto;
    width: 1600px;
    height: 5000px;
    background: black;
}

.itom{
    width: 50%;
    height: 1250px;
    background: palevioletred;
}